@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .three-d{
    text-shadow: 0px 5px 0px #533519;
}

.three-d{
    text-shadow: none;
}

.swing-animation{
    animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-2%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}